<header class="sticky-top">
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand ajusteLogo">Gatito Book</a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle ajusteIcon"></i>
        <a class="ajusteName">{{ user.name }}</a>
        <a class="ajusteLogout" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text ajusteLogin">
      <a [routerLink]="['']">Login</a>
    </span>
  </ng-template>
</header>
